<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wojciech Brzosko - Full Stack Web Developer Portfolio</title>
    <link href="less/custom/custom-bootstrap.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="js/angular-parallax.js"></script>    
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
    <script src="js/app.js"></script>
    <script src="js/ui-bootstrap-2.2.0.min.js"></script>
    <script src="js/custom.js"></script>
</head>

<body data-spy="scroll" data-target=".navbar">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <a class="navbar-brand" href="/">Wojciech Brzosko</a>
                <button type="button" data-target="#navbar-wb-collapse" data-toggle="collapse" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar-wb-collapse" ng-class="{'in':!navCollapsed}">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="##bio">Bio</a></li>
                    <li><a href="##skills">Skills</a></li>
                    <li><a href="##portfolio">Portfolio</a></li>
                    <li><a href="##contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header parallax-background parallax-ratio="0.7" id="header-wb" class="fill">
        <div class="jumbotron vertical-center" id="jumbo-wb">
            <div class="container text-center">
                <h1>Hello, I'm</h1>
                <h1>Wojciech Brzosko</h1>
                <p>Realiable and effective Full Stack Web Developer</p>
                <p><a class="btn btn-primary btn-lg" href="##portfolio" role="button">Show more</a></p>
            </div>
        </div>
    </header>
    <section id="bio">
        <div class="container">
            <h2>/* Bio */</h2>
            <ul class="timelineContainer">
            <li class="row">
                <div class="col-md-3 col-xs-12">
                    <h3 class="date">from Jan 2014</h3>
                </div>
                <div class="col-md-6 col-xs-12 timeline">
                    <h3>International School of Stavanger</h3>
                    <h5>Data / Web Manager</h5>
                    <ul>
                        <li>Administering and developing MIS in education environment – developing its functionalities, assigning roles, responsibilities and permissions, processing and reporting data</li>
                        <li>Configuring and maintaining SQL database environments, including monitoring of system health and performance</li>
                        <li>Administering MS SQL servers and databases, participating in creating and documenting recovery policy, generating reports and data visualization, conducting data analysis, designing school reports</li>
                        <li>Performance tuning, optimization and troubleshooting, improving the performance of SQL queries and stored procedures</li>
                        <li>Designing reports and dashboards using SSRS and Report Builder, PowerPivot and Visual Studio (asp.net, C#)</li>
                        <li>Preparing, designing and deploying data integration solutions with 3rd party software using Visual Studio and SQL Server Integration Services (SSIS) packages, synchronizing data from different sources such as parent portal, SMS Gateway, G Suite for Education (Groups, Sheets, GCDS), Teacher Dashboard</li>
                        <li>Planning and coordinating MIS specific training for teaching and non-teaching staff
                        </li>
                        <li>Maintaining and developing website and online resources, blogs network, administering Amazon Web Services environments (LAMP on ubuntu)</li>
                    </ul>
                </div>
            </li>
            <li class="row">
                <div class="col-md-3">
                    <h3 class="date">Jul 2012 - Dec 2013</h3>                
                </div>
                <div class="col-md-6 timeline">
                    <h3>AntiGravity Digital Agency</h3>
                    <h5>LEAD Web Developer</h5>
                    <ul>
                        <li>Responsible for leading range of web development projects, interacting on a daily basis with graphic designers and back-end developers. Responsible for creating tailored web applications such as CMS, mailing system, multiple ecommerce database integration tool and event management. Web development using html, css, jQuery, php and mysql (CakePHP, WordPress, Drupal, Prestashop, Magento, Joomla). Developing and monitoring MySQL and PostgreSQL databases in terms of data migration and performance tuning. Managing over 100 websites and blogs.</li>
                    </ul>
                </div>
            </li>
            <li class="row">
                <div class="col-md-3">
                    <h3 class="date">Jan 2010 - Jul 2012</h3>                
                </div>
                <div class="col-md-6 timeline"> 
                    <h3>WebUnited Digital Agency</h3>
                    <h5>Web Developer &amp; SEO Specialist</h5>
                    <ul>
                        <li>Designing, creating, maintaining and improving websites based on Wordpress, Drupal, Joomla, Prestashop, Cms Made Simple. Designing appealing website layouts and e-commerce maintenance containing over 10 000 products. Leading and implementing SEO strategies for key customers.</li>
                    </ul>
                </div>
            </li>
            <li class="row">
                <div class="col-md-3">
                    <h3 class="date">Aug 2009 - Jan 2010</h3>                
                </div>
                <div class="col-md-6 timeline"> 
                    <h3>LIVECHAT Software S.A.</h3>
                    <h5>Partner Manager</h5>
                    <ul>
                        <li>Acquiring strategic business partners, relationship management with international software resellers from USA and Europe. Maintaining high volume plans and pricing.</li>
                    </ul>
                </div>
            </li>  
            <li class="row">
                <div class="col-md-3">
                    <h3 class="date">Oct 2007 - Jun 2009</h3>                
                </div>
                <div class="col-md-6 timeline"> 
                    <h3>Immersum - New Marketing Lab</h3>
                    <h5>Technology Director</h5>
                    <ul>
                        <li>Involved in creating innovative campaigns in new media such as viral marketing, word of mouth and buzz marketing. Responsible for technology and system integration: Flash, PHP, MySQL, MS SQL and ASP.NET. Involved in creating one of the most efficient viral marketing campaigns in Poland for Studi.net.</li>
                    </ul>
                </div>
            </li>
            </ul>
            <div class="row">
 
                <div class="text-center">
                    <p>...</p>
                    <p>Want to see more?</p>
                    <a href="files/Wojciech-Brzosko-CV.pdf" class="btn btn-primary btn-lg" role="button">Download my CV</a>
                </div>
            </div>    
        </div>
    </section>
    <section id="skills">
        <div class="container">
            <h2>/* Skills */</h2>
            <div ng-controller="SkillsController">
                <div class="col-md-4" ng-repeat="skill in skills">
                    <div class="progress" ng-repeat="col in skill">
                      <div class="progress-bar progress-bar-custom progress-bar-striped" role="progressbar" aria-valuenow="{{col.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{col.progress}}%">
                        <span>{{col.name}}</span>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-md-offset-2 col-xs-12">
                <h2 class="white">/* Key competencies */</h2>
                <ul>
                    <li>Broad knowledge of Microsoft SQL Server (SSIS, SSRS and SSAS)</li>
                    <li>Expertise in T-SQL writing stored procedures and functions</li>
                    <li>Expertise in query optimization, performance tuning, and troubleshooting</li>
                    <li>Experience in creating jobs, alerts and scheduling DTS/SSIS Packages</li>
                    <li>Experience in creating data flows using SSIS, mappings/workflows to extract data from SQL Server, Excel Sheets and flat files</li>
                    <li>Experience in creating complex reports and dashboards</li>
                    <li>Data analysis and data migration by transferring them using SSIS packages.</li>
                    <li>Experience in Designing and Building the Dimensions and cubes with star schema using SQL Server Analysis Services (SSAS).</li>
                    <li>Knowledge of Microsoft Visual Studio 2012+, MVC 5+ and C#</li>
                    <li>Experienced in PHP, Javascript / jQuery, MySql, HTML5, CSS3(LESS,SCSS), Bootstrap</li>
                    <li>Good knowledge of Node.js , AngularJS and React.js.</li>
                    <li>Confident with using noSQL (MongoDB) and JSON format.</li>
                    <li>Broad experience with Wordpress, Drupal, CakePHP, Joomla and Prestashop</li>
                    <li>Experience in administering LAMP, MAMP and IIS environments</li>
                    <li>Capable of creating apps in NodeJS environment using the latest frameworks and libraries.</li>
                    <li>Experience in consuming / building RESTful APIs</li>
                    <li>Great Search Engine Optimization skills, link building, utilizing SEO tools and strategies towards high Google rankings</li>
                    <li>Strategically thinking through all parts of the design and development process</li>
                    <li>Knowledge of W3C web standards and protocols</li>
                    <li>Cross-browser compliance and usability (UX) testing</li>
                    <li>Advanced knowledge of Excel and PowerPivot</li>
                </ul>
            </div>
        </div>
    </section>
    <section id="portfolio">
        <div class="container">
            <h2>/* Portfolio */</h2>
            <div class="col-md-12 col-xs-12">
                <div ng-view>

                </div>
            </div>
        </div>
    </section>
    <section parallax-background parallax-ratio="0.7" id="certs">
        <div class="container">
            <h2 class="white">/* Courses and certifications */</h2>
            <div class="col-md-12 col-xs-12">
                <h5>Trainings</h5>
                
                <p><strong>MCSA:</strong></p>
                <ul>
                    <li>Implementing Data Models and Reports with Microsoft SQL Server 2012</li>
                    <li>Administering Microsoft SQL Server Database</li>
                </ul>
                <h5>Certifications</h5>
                <ul>
                    <li>Administering Microsoft SQL Server 2012/2014 Databases</li>
                    <li><a href="https://www.udemy.com/certificate/UC-FPF283CC/">Learn and Understand AngularJS</a></li>
                    <li><a href="https://www.udemy.com/certificate/UC-SRKMJU43/" target="_blank">A 13 Hour SQL Server 2014 /ASP.NET/CSS/C#/jQuery Course</a></li>
                </ul>
                <h5>Languages</h5>
                <ul>
                    <li>English: Full professional proficiency</li>
                    <li>Norwegian: Limited working proficiency</li>
                    <li>Polish: Native or bilingual proficiency</li>
                </ul>
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="container">
            <h2>/* Contact */</h2>
            <p>@: <a href="mailto:wbrzosko@gmail.com">wbrzosko@gmail.com</a></p>
            <p>m: +47 98 89 53 52</p>
            <p>t: <a href="https://twitter.com/woj_bro">twitter.com/woj_bro</a></p>
            <p>l: <a href="https://www.linkedin.com/in/wbrzosko/">linkedin.com/in/wbrzosko/</a></p>
            <p>g: <a href="https://github.com/wbrzosko">github.com/wbrzosko</a></p>
        </div>
    </section>
</body>

</html>