html,body {
    height:100%;
}
/* Full height Header */ 
.fill {
    height: 100%;
}

/* Headers Custom Styling */

h1, .h1,
h2, .h2,
h3, .h3, 
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: (@headings-margin);
    margin-bottom: (@headings-margin);
}
h3.date {
    color: @gray-custom;
}

#header-wb {
    background: url('../../img/svg.jpg') 50% 0px no-repeat;
    background-size: cover;
    background-attachment: fixed;
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
}
.navbar-fixed-top {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    min-height: 69px;
    padding: 15px 0;
}
.navbar-fixed-top > .active > a {
    background-color: #ff0000 !important;
}
#jumbo-wb {
    background: rgba(0,0,0, 0.5);
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

/* Shrinked menu */

.navbar-fixed-top.navbar-shrink {
    padding: 0 0;
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}

.navbar {
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
#skills {
    background: #333;
}

#skills {
    /* #skills section styles */
    min-height: 100%;
    h2 {
        color: white;
    }
}
section {
    padding-bottom: 8em;
}
#jumbo-wb h1 {
    margin: 0.1em 0;
}


/* Custom progress-bar */

.progress-bar-custom {
  .progress-bar-variant(@progress-bar-custom-bg);
  color: @gray-dark;
}