html,body {
    height:100%;
}
/* Full height Header */ 
.fill {
    height: 100%;
}
#header-wb {
    background: url('../../img/svg.jpg') center center no-repeat;
    background-size: cover;
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.navbar-fixed-top {
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}
#jumbo-wb {
    background: rgba(0,0,0, 0.5);
}