
<div data-ng-repeat="item in portfolio" class="portfolioitem">
    <div class="container">
        <h3>{{item.title}}</h3>
        <div class="col-md-4 col-xs-12">
            <a ng-href="{{item.link}}"><img ng-src="img/portfolio/{{item.img}}" class="img-responsive"/></a>
        </div>
        <div class="col-md-8 col-xs-12">
            <p>{{item.description}}</p>
            <p>Features:</p>
            <ul>
                <li data-ng-repeat="feature in item.features">{{feature.name}}</li>                
            </ul>
        </div>
    </div>
</div>  